:root {
    --dark-bg: #13171C;
    --dark-bg2: #181E27;
    --dark-bg3: #1F2634;
    --red-cta: #EF4444;
    --orange-cta: #F58412;
    --light-orange-cta: #fab26a;
    --text-color: #f0f0f0;
    --paragraph-color: #cdcaca;
    --link-color: #3282F6;
    --text-lowopacity: #ebe9e91f;
    --text-red-lowopacity: #ef44441f;
    --orange-red-gradient: linear-gradient(to left, var(--orange-cta), var(--red-cta));
}

.about-header {
    max-width: 1563px;
    margin: 0 auto;
    padding: 0 3rem;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-header h1{
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    color: var(--paragraph-color);
    font-weight: 500;
    text-align: center;
}

.about-header .about-content p{
    font-size: 12pt;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--paragraph-color);
    font-weight: 300;
}

.about-header .header-context span{
    font-size: 20pt;
    font-weight: 600;
    
}

.about-header .header-context p{
    padding: 0 10rem;
    font-size: 16pt;
    text-align: justify;
    margin-top: 4em;
    font-family: "Montserrat", sans-serif;
    color: var(--paragraph-color);
    font-weight: 300;
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height of the line */
    background: var(--orange-red-gradient); /* Set the color */
    width: 80%; /* Set the width of the line */
    margin: 20px auto; /* Center the line with spacing above and below */
}

.container {
    max-width: 1563px;
    min-height: auto;
    margin: 0 auto;
    padding: 0 3rem;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10rem;
    min-height: auto;
    gap: 10%;
    width: 100%;
    margin-top: 10em;
}

.about-card .context{
    min-width: 350px;
    position: relative;
    padding: 20px;
    flex: 1;
}

.about-card .context span{
    position: relative;
    color: var(--orange-cta);
    font-size: 12pt;
    padding: 40px;
    font-family: "Montserrat", sans-serif;
}

.about-card .context span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 51%;
    transform: translate(0, -50%);
    width: 30px;
    height: 1px;
    background-color: var(--orange-cta);
}

.about-card .context h2{
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    font-size: 30pt;
}

.about-card .context button{
    margin-top: 25px;
    font-size: 12pt;
    border: none;
    font-weight: 600;
    border-radius: 3px;
    background: var(--orange-red-gradient);
    color: var(--dark-bg);
    padding: 8px 22px;
    font-family: "Montserrat", sans-serif;
    
}

.about-card .context #odd{
    position: absolute;
    top: -20%;
    left: -10%;
    transform: translate(-30%, -15%);
    font-family: "Montserrat", sans-serif;
    color: var(--text-red-lowopacity);
    font-size: 130pt;
}

.about-card .context #even{
    position: absolute;
    top: -20%;
    left: 0;
    transform: translate(-30%, -15%);
    font-family: "Montserrat", sans-serif;
    color: var(--text-red-lowopacity);
    font-size: 130pt;
}

.about-card .context p{
    margin-top: 1.5em;
    font-family: "Montserrat", sans-serif;
    color: var(--paragraph-color);
    font-size: 14pt;
}


.about-card .img-section{
    padding: 20px;
    flex: 1;
}

.about-card .img-section img {
    object-fit: cover;
    width: 100%;
    min-width: 350px;
}

