footer {
    width: 100%;
    height: 10vw;
    background-color: #10100e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 1.2vw;
    color: var(--paragraph-color);
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

footer p{
    font-size: 14pt;
    color: var(--paragraph-color);
}

.left-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.right-footer {
    font-size: 1.2vw;
    width: 30%;
    padding: 0 3rem;
    font-style: italic;
}

footer .icons p {
    margin: 10px;
    background-color: #3282F6;
    padding: 10px;
    font-size: 12pt;
    margin-top: 15px;

}

@media (max-width: 1150px) {

    .contact-page p {
        font-size: 1.3rem !important;
    }
    .contact-page h1 {
        font-size: 3.5rem !important;
    }

    .contact-page input {
        font-size: 1.5rem !important;
    }

    .contact-page button {
        font-size: 1.5rem !important;
    }

    .contact-page .contact-card {
    
        width: 80vw;
        height: 500px;
        margin: 5vh auto 10vw;
        background-color: var(--dark-bg3);
        border-radius: 10px;
    }

    .categories div h1 {
        font-size: 1.5rem;
    }
    .categories div p {
        font-size: 1.2rem;
    }
    .categories div button {
        font-size: 1.2rem;
    }

    footer {
        height: 20vh;
    }
    
    footer p {
        color: var(--paragraph-color);
        font-size: 1.2rem;
    }
    
    footer .icons p {
        font-size: 1.2rem;
    }
}
